<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>ScoreMaker</string>
  <key>CFBundleIdentifier</key>
  <string>com.blacklotus.ScoreMaker</string>
  <key>CFBundleName</key>
  <string>ScoreMaker</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.music</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 ScoreMaker contributors.</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleIconFile</key>
  <string>ScoreMakerAppIcon</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>ScoreMaker Project</string>
      <key>CFBundleTypeIconFile</key>
      <string>ScoreMakerDocumentIcon</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>scoremaker</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>MusicKit Scorefile</string>
      <key>CFBundleTypeIconFile</key>
      <string>ScoreMakerDocumentIcon</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>score</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>MIDI File</string>
      <key>CFBundleTypeIconFile</key>
      <string>ScoreMakerDocumentIcon</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>mid</string>
        <string>midi</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>MusicXML File</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>musicxml</string>
        <string>xml</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
  </array>
  <key>NSTypes</key>
  <array>
    <dict>
      <key>NSName</key>
      <string>ScoreMaker Project</string>
      <key>NSHumanReadableName</key>
      <string>ScoreMaker Project</string>
      <key>NSIcon</key>
      <string>ScoreMakerDocumentIcon</string>
      <key>NSUnixExtensions</key>
      <array>
        <string>scoremaker</string>
      </array>
      <key>NSRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
    <dict>
      <key>NSName</key>
      <string>MusicKit Scorefile</string>
      <key>NSHumanReadableName</key>
      <string>MusicKit Scorefile</string>
      <key>NSIcon</key>
      <string>ScoreMakerDocumentIcon</string>
      <key>NSUnixExtensions</key>
      <array>
        <string>score</string>
      </array>
      <key>NSRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
    <dict>
      <key>NSName</key>
      <string>MIDI File</string>
      <key>NSHumanReadableName</key>
      <string>MIDI File</string>
      <key>NSIcon</key>
      <string>ScoreMakerDocumentIcon</string>
      <key>NSUnixExtensions</key>
      <array>
        <string>mid</string>
        <string>midi</string>
      </array>
      <key>NSRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
    <dict>
      <key>NSName</key>
      <string>MusicXML File</string>
      <key>NSHumanReadableName</key>
      <string>MusicXML File</string>
      <key>NSUnixExtensions</key>
      <array>
        <string>musicxml</string>
        <string>xml</string>
      </array>
      <key>NSRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>ScoreMakerDocument</string>
    </dict>
  </array>
</dict>
</plist>
