{
    ApplicationDescription = "A cross-platform AppKit score viewer, editor, and playback application.";
    ApplicationIcon = "Resources/ScoreMakerAppIcon.png";
    ApplicationName = ScoreMaker;
    ApplicationRelease = "0.1";
    Authors = (
	"Gregory Casamento"
    );
    CFBundleDocumentTypes = (
	{
	    CFBundleTypeExtensions = (
		score
	    );
	    CFBundleTypeIconFile = "ScoreMakerDocumentIcon.png";
	    CFBundleTypeName = "MusicKit Scorefile";
	    CFBundleTypeRole = Editor;
	    NSDocumentClass = ScoreMakerDocument;
	},
	{
	    CFBundleTypeExtensions = (
		mid,
		midi
	    );
	    CFBundleTypeIconFile = "ScoreMakerDocumentIcon.png";
	    CFBundleTypeName = "MIDI File";
	    CFBundleTypeRole = Editor;
	    NSDocumentClass = ScoreMakerDocument;
	},
	{
	    CFBundleTypeExtensions = (
		musicxml,
		xml
	    );
	    CFBundleTypeName = "MusicXML File";
	    CFBundleTypeRole = Editor;
	    NSDocumentClass = ScoreMakerDocument;
	}
    );
    CFBundleIconFile = ScoreMakerAppIcon;
    CFBundleIdentifier = "com.gnustep.ScoreMaker";
    Copyright = "Copyright (C) 2026 Gregory Casamento";
    CopyrightDescription = "GNU Lesser General Public License, version 2.1 or later";
    FullVersionID = "0.1";
    NSExecutable = ScoreMaker;
    NSIcon = "Resources/ScoreMakerAppIcon.png";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSDocumentClass = ScoreMakerDocument;
	    NSHumanReadableName = "MusicKit Scorefile";
	    NSIcon = "ScoreMakerDocumentIcon.png";
	    NSName = "MusicKit Scorefile";
	    NSRole = Editor;
	    NSUnixExtensions = (
		score
	    );
	},
	{
	    NSDocumentClass = ScoreMakerDocument;
	    NSHumanReadableName = "MIDI File";
	    NSIcon = "ScoreMakerDocumentIcon.png";
	    NSName = "MIDI File";
	    NSRole = Editor;
	    NSUnixExtensions = (
		mid,
		midi
	    );
	},
	{
	    NSDocumentClass = ScoreMakerDocument;
	    NSHumanReadableName = "MusicXML File";
	    NSName = "MusicXML File";
	    NSRole = Editor;
	    NSUnixExtensions = (
		musicxml,
		xml
	    );
	}
    );
}
